<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybtis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  다른 mapper와 중복되지 않도록 네임스페이스 기재  -->
<mapper namespace="member">
    <select id="loginCheck" resultType="String">
       SELECT user_name AS memName FROM mem
       WHERE mem_id = #{memId} AND mem_pw = #{memPw}
     
    </select>

    <select id="viewMember" resultType="sunshine.model.member.dto.MemberVO">
       SELECT
           mem_name AS memName,
           mem_id AS memId,
           mem_email AS memEmail,
           mem_regdate AS memRegdate
       FROM mem
       where mem_id = #{memId} and mem_pw = #{memPw}
    
    </select>
</mapper>