<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sunshine.mapper.ticket.ticketMapper">
<sql id="baseColumn">
	TICKET_NO, CLASS_NO, TICKET_KIND, DIV_PEOPLE, TICKET_PRICE,
	VALIDITY, CLASS_NAME, CLASS_PRICE, CLASS_GRADE, CLASS_DIV, CHARGE_TEACHER
</sql>
<insert id="ticketIssue" >
	insert into ticket(<include refid="baseColumn"/>)
	values(#{ticketNo},#{classNo},#{ticketKind},#{divPeople},#{ticketPrice},
	#{validity},#{className},#{classPrice},#{classGrade},#{classDiv},#{chargeTeacher})
</insert>
</mapper> -->

