<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybtis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sunshine.mapper.CondoMapper">
<sql id="basecolumn">
  room_num roomNum , room_type roomType, room_price roomPrice,
  room_image roomImage, room_detail roomDetail
</sql>

<sql id="basecolumn1">
ROOM_NUM,ROOM_TYPE,ROOM_PRICE,ROOM_IMAGE,ROOM_DETAIL
</sql>

<insert id="insertCondo" parameterType="sunshine.model.DTO.CondoDTO">
	insert into CONDO_ROOM(<include refid="basecolumn1"/>)
	values(#{roomNum},#{roomType},#{roomPrice},#{roomImage},#{roomDetail})
</insert>

<select id= "RoomList" parameterType="sunshine.model.DTO.CondoDTO" 
			resultType="sunshine.model.DTO.CondoDTO">
	select *
	 	from ( select rownum rn , <include refid="basecolumn" /> 
	 	from(select <include refid="basecolumn1" />
	 		from condo_room
	 			order by room_num desc )
	 		) 
</select>

</mapper>