<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybtis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  다른 mapper와 중복되지 않도록 네임스페이스 기재  -->
<mapper namespace="sunshine.mapper.MemberMapper">
<sql id="basecolumn">
     mem_no memNo ,mem_name memName,mem_id memId, 
     mem_pw memPw,mem_phone memPhone, mem_email memEmail,
     mem_addr memAddr,mem_regist memRegist,
     mem_resident_num memResident
</sql>   


<sql id="basecolumn1">
      MEM_NO,MEM_NAME,MEM_ID,MEM_PW,MEM_PHONE,MEM_EMAIL,MEM_ADDR,
      MEM_REGIST,MEM_RESIDENT_NUM
</sql>

<insert id="insertMember" parameterType="sunshine.model.DTO.MemberDTO" >
         insert into mem(<include refid="basecolumn1"/>)
         values(mem_seq.nextval,#{memName},#{memId},#{memPw},#{memPhone},
            #{memEmail},#{memAddr},sysdate,#{memResidentNum})
     </insert>
     
        <select id="selectByMember" parameterType="sunshine.model.DTO.MemberDTO" 
         resultType="sunshine.model.DTO.MemberDTO" >
         select *
         from(select rownum rn, <include refid="basecolumn" />
                 from(select <include refid="basecolumn1"/>
                          from mem
                          <where>
                              <if test="memId != null">
                                   mem_id = #{memId}
                              </if>
                          </where>
                     order by mem_regist desc))
                     <where>
                           <if test="startEndPageDTO != null" >
                                 rn between #{startEndPageDTO.startPage}
                                     and #{startEndPageDTO.endPage}
                           </if>
                     </where>
     </select> 
    
</mapper>