<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sunshine.mapper.ReviewMapper">

<sql id="baseColumn">
board_no, mem_id, b_subject, b_content,
b_write_date, b_views
</sql>
<sql id="baseColumn1">
board_no boardNo, mem_id memId, b_subject bSubject, b_content bContent,
b_write_date bWriteDate, b_views bViews
</sql>

<insert id="insertReview" parameterType="sunshine.model.DTO.ReviewDTO">
insert into board(
board_no ,mem_id, b_subject , b_content, b_write_date, B_VIEWS)
values(board_seq.nextval,  #{memId}, #{bSubject}, #{bContent}, sysdate, '0')

</insert>

<insert id="insertReviewEm" parameterType="sunshine.model.DTO.ReplyDTO">
insert into reply(
REPLY_NO, BOARD_NO,REPLY_CONTENT,REPLY_WRITE_DATE ,EM_ID)
values(reply_SEQ.nextval, #{boardNo}, #{replyContent}, sysdate, #{emId})

</insert>

<select id="getReviewList" parameterType="sunshine.model.DTO.ReviewDTO"
resultType="sunshine.model.DTO.ReviewDTO">
select *
from(select rownum rn, <include refid="baseColumn1"/>
         from(select <include refid="baseColumn"/>
        from board
        <if test="boardNo != null" >
           where board_no = #{boardNo}
        </if>
           order by b_write_date desc
)
)
<if test="startEndPageDTO != null">
     <where>
     rn between #{startEndPageDTO.startPage} and #{startEndPageDTO.endPage}
     </where>
</if>
</select>

<select id="getReplyList" parameterType="sunshine.model.DTO.ReplyDTO"
resultType="sunshine.model.DTO.ReplyDTO">
select REPLY_NO replyNo, BOARD_NO boardNo, REPLY_CONTENT replyContent,
REPLY_WRITE_DATE replyWriteDate, EM_ID emId
from REPLY
<trim prefix="where" prefixOverrides="AND|OR">
	<if test="boardNo != null">
		BOARD_NO = #{boardNo}
	</if>
</trim>
</select>



<select id="reviewCount" resultType="int">
	select count(*) from board
</select>


<update id="updateCount" parameterType="string">
	<if test="value != null">
		update board
		set board_count = board_count + 1
		where board_no = #{boardNo}
	</if>
</update>

<delete id="replyDelete" parameterType="string">

delete from reply
where board_no = #{boardNo}
</delete>

<delete id="reviewDelete" parameterType="string">

delete from board 
where board_no = #{boardNo}
</delete>

<update id="reviewUpdate" parameterType="sunshine.model.DTO.ReviewDTO">
update board
set B_SUBJECT = #{bSubject}, B_CONTENT = #{bContent}
where board_no = #{boardNo}


</update>


</mapper>